@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Water Treatment Plan</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Welcome to Our Water Treatment Plan</h1>
    <p>This is a simple web application for the Water Treatment Plan project.</p>
    <button id="infoButton">Show More Info</button>
    <p id="additionalInfo" style="display:none;">Here is some more information about the plan...</p>

    <script src="script.js"></script>
</body>
</html>
