@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.Water treatment business Plan </h1>
    <p class="lead">This plan is critical for our business strategy.</p>
</div>